@tailwind base;
@tailwind components;
@tailwind utilities;

// colors
$white: #ffffff;
$grey: #d9d9d9;
$dark-grey: #242424;
$green: #4ee1a0;
$black: #151515;
$red: #ff6f5b;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
